<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.css">
  <style>
    div {
    height: 100vh;
  }
</style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-primary d-sm-flex justify-content-sm-center align-items-sm-center">
                <h1 class="display-1 fw-bold text-center d-sm-flex flex-column justify-content-sm-center align-items-sm-center">404 Not Found</h1>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>